@font-face {
	src: url('fonts/ProximaNova-Regular.ttf');
	font-family: ProximaNova;
	font-weight: 400;
}

@font-face {
	src: url('fonts/ProximaNova-Bold.ttf');
	font-family: ProximaNova;
	font-weight: 700;
}

@keyframes button-animation {
	0% {
		background: #db0536;
		border: 2px solid #db0536;
	}
	100% {
		background: #ac0027;
		border: 2px solid #ac0027;
	}
}

.description__logo {
	width: 69px;
	height: 54px;
	margin-top: 52px;
	border-radius: 10px 0 10px 0px;
}

.description__name {
	margin-top: 37px;
	margin-left: 31px;
	color: #ffffff;
	font-family: ProximaNova;
	line-height: 0.7;
}

.title {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
}

.form__search {
	position: absolute;
}

.form__search::after {
	content: "";
	width: 15px;
	height: 15px;   
	background-image: url("images/search.svg");
	display: inline-block;
	position: relative;
	right: 26px;
	bottom: 10px;
	background-size: contain;
}