@font-face {
	src: url('fonts/ProximaNova-Regular.ttf');
	font-family: ProximaNova;
	font-weight: 400;
}

@font-face {
	src: url('fonts/ProximaNova-Bold.ttf');
	font-family: ProximaNova;
	font-weight: 700;
}

@keyframes button-animation {
	0% {
		background: #db0536;
		border: 2px solid #db0536;
	}
	100% {
		background: #ac0027;
		border: 2px solid #ac0027;
	}
}

.image {
	background-image: url("images/background.jpg");
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}

.image::before {
	content:'';
	background-image: linear-gradient(to top, #35363c, #35363c), linear-gradient(to bottom, #35363c, #35363c);
	width: 100%;
	height: 900px;
	display: block;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

.main {
	width: 1148px;
	margin: 0 auto;
}

.description {
	display: flex;
	flex-direction: row;	
}

.description__logo {
	width: 69px;
	height: 54px;
	margin-top: 52px;
	border-radius: 10px 0 10px 0px;
}

.description__name {
	margin-top: 37px;
	margin-left: 31px;
	color: #ffffff;
	font-family: ProximaNova;
	line-height: 0.7;
}

.title {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
}

.form {
	height: 473px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 109px;
	padding: 70px 98px 70px 98px;
	box-sizing: border-box;	
}

.form__search {
	position: absolute;
}

.form__search::after {
	content: "";
	width: 15px;
	height: 15px;   
	background-image: url("images/search.svg");
	display: inline-block;
	position: relative;
	right: 26px;
	bottom: 10px;
	background-size: contain;
}

.form__textarea {
	width: 940px;
	border: none;
	border-bottom: 1px solid rgba(53, 54, 60);
	font-family: ProximaNova;
	font-size: 16px;
	color: #1e1f26;
	font-weight: 400;
	line-height: 0.5;
	padding-left: 10px;
}

.form__textarea:focus {
	outline: none;
}

.form__input {
	margin-top: 65px;
	margin-bottom: 41px;
	display: flex;
}

.form__inputDate {
	width: 284px;
	height: 46px;
	padding-left: 14px;
	margin-top: 5px;
	border-radius: 3px;
	border: solid 1px #35363c;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.76;
	color: #db0536;	
}

.form__inputDate:focus {
	outline: none;
}

.form__inputPerson:focus {
	outline: none;
}

.nameInputDate {
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	width: 286px;
	margin-right: 25px;
}

.nameInputPerson {
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	width: 105px;
	margin-right: 10px;
}

.nameInputPerson_adult {
	margin-left: 30px;
}

.select {
	display:flex;
	flex-direction: column;
	position:relative;
	width:105px;
	height:50px;
	margin-top: 5px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 700;
}

.number {
	color: #ffffff;	
	padding-left: 15px;
	min-height:50px;
	border-radius: 3px;
	display:flex;
	align-items:center;
	background:  #1e1f26;
	border: solid 1px #35363c;
	position:absolute;
	top:0;
	width: 100%;
	pointer-events:none;
	order:2;
	z-index:1;
	transition:background .4s ease-in-out;
	box-sizing:border-box;
	overflow:hidden;
	white-space:nowrap;  
}

.number:hover {
	background: #2d2e37;
	cursor: pointer;
}

.select:focus .number {
	position:relative;
	pointer-events:all;
}

.select__number {
	opacity:0;
	position:absolute;
	left:-99999px;
}

.select__number:checked + .number {
	order: 1;
	z-index:2;
	background: #ffffff;
	position:relative;
	color: #db0536;
}

.select__number:checked + .number:after {
	content:'';
	background-image: url("images/arrow-down.svg");	
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	position: relative;
	pointer-events:none;
	left: 48px;
	z-index:3;
	background-size: contain;
}

.form__checkbox {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 332px;
	margin-bottom: 27px;
}

.checkbox {
	width: 24px;
	height: 24px;
}

.logo-checkbox {
	width: 20px;
	height: 20px;
	margin-left: 6px;
	margin-right: 2px;
}

.text-checkbox {
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.98;
	color: #35363c;
}

.checkbox:checked, 
.checkbox:not(:checked){
	position: absolute;
	left: -9999px;
}

.checkbox:checked + label, 
.checkbox:not(:checked) + label{
	display: inline-block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.checkbox:checked + label:before, 
.checkbox:not(:checked) + label:before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21px;
	height: 21px;
	border: 1px solid #35363c;
}

.checkbox:checked + label:after, 
.checkbox:not(:checked) + label:after{
	content: "";
	position: absolute;
	left: 6px;
	top: 6px;
	width: 11px;
	height: 11px;
	background-image: url(images/square.svg);
	background-size: contain;
}

.checkbox:not(:checked) + label:after{
	opacity: 0;
}

.checkbox:checked + label:after{
	opacity: 1;
}

.form__button {
	background: #db0536;
	border: 2px solid #db0536;
	width: 254px;
	height: 61px;
	border-radius: 30.5px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.76;
	color: #ffffff;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.form__button:focus {
	outline: none;
}

.form__button:hover {
	cursor: pointer;
	animation: button-animation 0.3s normal forwards;
}