@font-face {
	src: url('fonts/ProximaNova-Regular.ttf');
	font-family: ProximaNova;
	font-weight: 400;
}

@font-face {
	src: url('fonts/ProximaNova-Bold.ttf');
	font-family: ProximaNova;
	font-weight: 700;
}

@keyframes button-animation {
	0% {
		color: #ffffff;
		background: #db0536;
	}
	100% {
		color: #ffffff;
		background: #ac0027;
	}
}

.image {
	background-image: url("images/background.jpg");
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}

.image::before {
	content:'';
	background-image: linear-gradient(to top, #35363c, #35363c), linear-gradient(to bottom, #35363c, #35363c);
	width: 100%;
	height: 900px;
	display: block;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

.main {
	width: 1148px;
	margin: 0 auto;
}

.description {
	display: flex;
	flex-direction: row;	
}

.description__logo {
	width: 69px;
	height: 54px;
	margin-top: 52px;
	border-radius: 10px 0 10px 0px;
}

.description__name {
	margin-top: 37px;
	margin-left: 31px;
	color: #ffffff;
	font-family: ProximaNova;
	line-height: 0.7;
}

.title {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
}

.form {
	height: 473px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 109px;
	padding-top: 70px;
	padding-left: 98px;
	box-sizing: border-box;	
}

.form__search {
	position: absolute;
}

.form__search::after {
	content: "";
	width: 15px;
	height: 15px;   
	background-image: url("images/search.png");
	display: inline-block;
	position: relative;
	right: 26px;
	bottom: 7px;
}

.form__textarea {
	width: 940px;
	border: none;
	border-bottom: 1px solid rgba(53, 54, 60);
	font-family: ProximaNova;
	font-size: 16px;
	color: #1e1f26;
	font-weight: 400;
	line-height: 0.5;
	padding-left: 10px;
}

.form__textarea:focus {
	outline: none;
}

.form__input {
	margin-top: 65px;
	margin-bottom: 22px;
	display: flex;
}

.form__inputDate, .form__inputPerson {
	width: 284px;
	height: 46px;
	padding-left: 14px;
	margin-top: 5px;
	border-radius: 3px;
	border: solid 1px #35363c;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.76;
	color: #db0536;	
}

.form__inputPerson-size {
	width: 105px;
	height: 49px;
}

.form__inputDate:focus {
	outline: none;
}

.form__inputPerson:focus {
	outline: none;
}

.nameInputDate {
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	width: 286px;
	margin-right: 25px;
}

.nameInputPerson {
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	width: 105px;
	margin-right: 9px;
}

.number {
	background-color: #1e1f26;
	color: #ffffff;
}

.number:hover {
	cursor: pointer;
}

.number::before {
	background-color: #2d2e37;
}

.form__checkBox {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 430px;
	margin-bottom: 15px;
}

.checkBox {
	width: 23px;
	height: 23px;
	margin-right: 8px;
}

.checkBox:hover {
	cursor: pointer;
}

.logo-checkBox {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.text-checkBox {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.98;
	word-spacing: 1.5;
}

.form__button {
	background: #db0536;
	border: 2px solid #db0536;
	width: 254px;
	height: 61px;
	border-radius: 30.5px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.76;
	color: #ffffff;
	margin-left: 350px;
	text-align: center;
}

.form__button:focus {
	outline: none;
}

.form__button:hover {
	cursor: pointer;
	animation: button-animation 3s infinite ease-in-out;
}